@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

:root {
  --UIcolor: #d3b444;
  --black1: #201e1e;
  --black2: #222324;
  --black3: #1c1d1d;
  --white1: rgb(71, 71, 71);
}

* {
  font-family: "Ubuntu", "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  /* border: 1px white solid; */
  scroll-behavior: smooth;
}

*::selection {
  background: var(--yellow);
  color: #333;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

* {
  scrollbar-color: #333 var(--UIcolor);
}

body {
  background: rgb(19, 18, 18);
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}
#pre-loader {
  height: 100vh;
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: fixed;
  z-index: 100;
  background: var(--black3);
}

.loader {
  position: absolute;
  top: 50%;
  left: 35%;  
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid #b09b29;
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn {
  padding: 0.8rem 1.2rem;
  color: var(--UIcolor);
  background-color: #3e3d36;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.btn i {
  padding-left: 1rem;
  font-size: 1.6rem;
}

.btn:hover {
  
  /* opacity:0.8; */
  background: var(--UIcolor);
  color: #161819;

}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #fff4;
  color: #fff;
}

.heading span {
  color: var(--UIcolor);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 32rem;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-top:6rem;
  border: 0.8rem solid var(--UIcolor);
}

header .user .name {
  font-size: 2.5rem;
  color: var(--UIcolor);
  letter-spacing: 0.3rem;
}

header .user .post {
  font-size: 1.5rem;
  color: #eee;
}

/* socail media links  */

.social-links ul {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
}

.social-links ul li {
  list-style: none;
  margin-top: 6rem;
  padding: 1rem;
  color: #fff;
}

.social-links ul li .fab {
  font-size: 2rem;
  transition: 0.6s;
  color: #fff;
}
.social-links ul li:nth-child(1) .fab:hover {
  color: #1da1f2;
}
.social-links ul li:nth-child(2) .fab:hover {
  color: #0a66c2;
}
.social-links ul li:nth-child(3) .fab:hover {
  color: #333;
}
.social-links ul li:nth-child(4) .fab:hover {
  color: #e4405f;
}

header .navbar {
  width: 100%;
  margin-top: 5rem;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li a {
  display: flex;
  margin: 1rem 0;
  padding: 0.8rem 0;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: center;
  text-transform: uppercase;
}

header .navbar ul li a:hover {
  color: var(--UIcolor);
}

header .navbar ul li.active {
  transition: 0.3s ease background-color;
}
header .navbar ul li.active a {
  color: #f9ca24;
}

header footer {
  background: var(--UIcolor);
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header footer h3 {
  color: rgb(39, 38, 38);
  letter-spacing: 0.3rem;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  /* background:#333; */
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

/* home page  */

#home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 5rem;
  background-color: var(--black3);
}

.home-content {
    border-left: 1rem solid var(--UIcolor);
}

/* .vl {
  border-left: 0.7rem solid var(--UIcolor);
  height: 35rem;
  position: absolute;
} */

.vt .vertical-text {
  position: absolute;
  top: 70%;
  right: 4%;
  color: var(--UIcolor);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.vt h3{
  font-size: 1.6rem !important;
}

.vt i {
  color: var(--UIcolor);
}

#home h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-left: 3rem;
}

#home h1 {
  font-size: 6rem;
  color: #fff;
  padding-left: 3rem;
}

#home h1 span,
.home .prof {
  color: var(--UIcolor);
}

#home p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  max-width: 50%;
  padding-left: 3rem;
}

.cv-btn {
  margin: 2rem 0 0 3rem;
}

/* text-animation */
.text-animation {
  font-weight: 500;
  /* margin: 0.4em 0; */
  font-size: 5rem;
  color: #fff;
  padding-left: 3rem;
  width: 100vw;
}

.text-animation span {
  color: var(--UIcolor);
}

/* text-animation  */

#home .home-links ul {
  display: flex;
}

.home-links ul li {
  list-style: none;
  padding: 2rem;
}


.title {
  width: 100%;
  display: flex;
  position: relative;
  left: 5%;
  padding: 2rem 0;
  /* justify-content: center; */
}

.section-title {
  position: relative;
  color: var(--UIcolor) !important;
  font-size: 3rem;
  font-weight: 1000;
  text-transform: uppercase;
}
.section-title span {
  color: #eee;
}
.content-title span {
  color: var(--UIcolor);
}

/* profile page  */
#profile {
  display: flex;
  flex-flow: column;
  background-color: var(--black1);
  overflow:inherit;
  /* justify-content: center; */
}
#profile .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
}

#profile .content .col-left {
  position: relative;
  display: flex;
  justify-content: center;
  width: 40%;
}
#profile .content .col-right {
  position: relative;
  width: 60%;
}

#profile .content .col-left .img-card {
  position: relative;
  width: 100%;
  height: 50rem;
   top: 0;
  left: 0;
}

#profile .content .col-left .img-card img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  /* width: 80%; */
  height: 100%;
}

#profile .content .col-right .content-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  margin: 3rem;
}

#profile .content .col-right p {
  color: white;
  font-size: 2rem;
  margin: 3rem;
}
#profile .content .col-right p i{
  color: var(--UIcolor);
}
#profile .content .col-right h2 {
  margin-left: 3rem;
}
.count {
  display: inline-flex;
  color: #fff;
}
#profile h2 {
  color: #fff;
}
#profile .content .col-right .count .counts {
  margin: 0 0 2rem 3rem;
  border: 2px solid white;
  min-width: 12rem;
  padding: 0.5rem 0.5rem 0.5rem 1.2rem;
  font-size: 1.5rem;
}
.counts span {
  color: #f9ca24;
}

.profile-sl ul {
  display: flex;
  position: absolute;
  left: 20%;
  margin-left: 2rem;
}

.profile-sl ul li {
  list-style: none;
  padding: 1rem;
  color: #fff;
}

/* ---------------------------------- */
#skills {
  background-color: #242525;
 width: 100%;
  display: inline-block;
  align-items: center;
}

.skills .content-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  margin: 3rem;
}

.wrapper{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
 .card{
    width: 320px;
     min-height: 220px;
     border-radius: .8rem;
     border: 2px solid var(--UIcolor);
     border-left: 1rem solid var(--UIcolor);
     padding: 2rem;
     box-sizing: border-box;
     color: #FFF;
     margin:2rem;
}

 .card-title{
     margin: 1rem 1rem 2rem 1rem;
     font-size: 2rem;
     color: var(--UIcolor);
     font-weight: 600;
     letter-spacing: 1.2px;
     text-align: center;
}
.card-content {
  display: flex;
  color: #000;
   font-size: 1.2rem;
     letter-spacing: 0.5px;
     line-height: 1.5;
     text-align: center;
     
}

.card-skill {
  margin-bottom: 1rem !important;
  border: 1px solid rgb(255, 255, 255);
  min-width: 10rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #fff;
  text-align: center;
  margin: auto;
}


 /* .card-btn{
     display: block;
     margin-left: auto;
     border: 2px solid #FFF;
     padding: 10px 15px;
     border-radius: 1rem;
     font-size: 10px;
     font-weight: 600;
     transition: all 0.5s;
     cursor: pointer;
     letter-spacing: 1.2px;
     margin-top: 1rem;
}
 .card-btn:hover{
    color: var(--UIcolor);
    background: #FFF;
} */

/* ----------------------------------------------------- */




/* portfolio  */
.portfolio .container {
  max-width: 1140px;
  margin: auto;
}
.portfolio .row {
  display: flex;
  flex-wrap: wrap;
}

/* .section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 2rem;
} */

#portfolio {
  background-color: #343636;
  padding: 1rem;
}
.portfolio .filter-buttons {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}
.portfolio .filter-buttons ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.portfolio .filter-buttons ul li {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0px 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
}
.portfolio .filter-buttons ul li.active {
  color: #febd01;
  /* border-bottom: 2px solid #febd01; */
}
.portfolio .portfolio-gallery {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-gallery .item {
  flex: 0 0 25%;     
  max-width: 25%;
  display: flex;
  position: relative;
  padding: 0.8rem;  
  justify-content: center;                                                               
}
.portfolio .portfolio-gallery .item .inner {
  position: relative;
  border: 1px solid var(--black1);
  width: 27rem;
  height: 20rem;
}
.portfolio .portfolio-gallery .item img {
  width: 100%;
  height: 100%;
  display: inline-block;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background: rgba(0, 0, 0, 0.7);
}

.inner:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio .portfolio-gallery .item .inner:hover .overlay {
  opacity: 1;
}

/* .portfolio .portfolio-gallery .item .inner h1{
    background-color: var(--black3);
    color: #fff;
    font-weight: 400;
    padding: 0 .5rem;
} */
.portfolio .portfolio-gallery .item .inner a{
    color: var(--UIcolor);
}

/* contact form  */
#contact {
    background-color: var(--white1);
}
.contact .row {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-wrap: wrap;
}

#contact .row .content .content-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  margin: 3rem;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding:2rem 4rem;
  padding-bottom: 0;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  color: #fff;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.info i {
  padding-right: 1rem;
  color: var(--UIcolor);
}



/* media queries  */
@media (max-width: 1400px){
    .portfolio .portfolio-gallery .item {
  flex: 0 0 30%;     
  min-width: 30%;                                                              
}
}
@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }

  #home {
    padding: 1rem 4rem;
  }
  #profile {
    max-height: 80vh;
  }
  #profile .content {
    flex-direction: row;
    margin-top: 10rem;
  }
  .vt .vertical-text {
    font-size: 1.5rem;
    top: 75%;
  }
  .portfolio .portfolio-gallery .item {
  flex: 0 0 30%;     
  min-width: 30%;                                                               
}
}

@media (max-width: 991px) {
  html {
    font-size: 8px;
  }

  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }
  #profile {
    max-height: 80vh;
  }

  #profile .content {
    flex-direction: row;
    margin-top: 10rem;
  }

  #profile .content .column {
    width: 100%;
    position: relative;
  }
  #profile .content .col-left {
    width: 40%;
  }
  #profile .content .col-right {
    width: 60%;
  }
  #profile .content .col-left .img-card img {
    position: relative;
    left: 10%;
    align-items: center;
    justify-content: center;
    height: 50rem;
    width: 35rem;
  }
  .loader {
  position: absolute;
  top: 40%;
  left: 40%;  

}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
  #home {
    background-image: none;
  }
  .text-animation {
    font-size: 3.5rem;
  }
  .vt .vertical-text {
    font-size: 1.5rem;
    top: 75%;
  }
  #home p {
    max-width: 95%;
  }
  #profile {
    min-height: 120vh;
  }
  #profile .content .col-left {
    width: 100%;
  }
  #profile .content .col-right {
    width: 100%;
  }
  #profile .content .col-left .img-card img {
    position: relative;
    align-items: center;
    height: 50rem;
    width: 35rem;
    /* left: 30%; */
  }
  #profile .content {
    flex-direction: column;
    margin-top: 0;
  }

  #skills .skills-chart {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .circle-chart {
    width: 8rem;
    height: 8rem;
  }
  .circlechart {
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  .portfolio .portfolio-gallery .item {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding: 8px;
  }
  .loader {
  position: absolute;
  top: 40%;
  left: 40%;  
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  #home {
    font-size: 2.8rem;
    padding-left: 3rem;
    background-image: none;
  }

  #home p {
    max-width: 100%;
  }
  .vt .vertical-text {
    top: 75%;
  }

  .profile .content .col-left .img-card img {
    position: relative;
    align-content: center;
    justify-content: center;
    height: 50rem;
    width: 35rem;
    /* left: 5%; */
  }
  #profile .content .col-right .count {
    margin-top: 0;
  }

  #skills .skills-chart {
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* margin-top: 5%; */
    padding: 1rem;
  }
  .circle-chart {
    width: 8rem;
    height: 8rem;
  }
  .circlechart {
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  .contact .row form {
    margin: 3rem 0;
  }
.portfolio .portfolio-gallery .item{
        flex:0 0 100% ;
        max-width: 100%;
        padding: 0.8rem;
        display: flex;
        justify-content: center; 
        align-items: center; 
     }

     /* .portfolio .portfolio-gallery .item img {
  width: 30rem;
  height: 25rem;
} */

.portfolio .portfolio-gallery .item .inner {
  position: relative;
  border: 1px solid var(--black1);
  width: 90%;
  height: 20rem;
  display: block;
}

.loader {
  position: absolute;
  top: 40%;
  left: 40%;  
}
}
}